In [1]:
import inspect
import re
import varseek as vk

In [10]:
from varseek.utils import vcf_to_dataframe
vcf_file_path = "/Users/joeyrich/Downloads/sample.vcf"
vcf_df = vcf_to_dataframe(vcf_file_path, additional_columns = True, explode_alt = True)

[W::vcf_parse] Contig '19' is not defined in the header. (Quick workaround: index the file with tabix.)
[W::vcf_parse] Contig '20' is not defined in the header. (Quick workaround: index the file with tabix.)
[W::vcf_parse] Contig 'X' is not defined in the header. (Quick workaround: index the file with tabix.)

In [11]:
import pandas as pd

In [12]:
vcf_df[["POS", "REF", "ALT", mut_column]]

        POS REF   ALT              mut_column
0       111   A     C                g.111A>C
1       112   A     G                g.112A>G
2     14370   G     A              g.14370G>A
3     17330   T     A              g.17330T>A
4   1110696   A     G            g.1110696A>G
5   1110696   A     T            g.1110696A>T
6   1230237   T  None               g.UNKNOWN
7   1234567   G    GA   g.1234567_1234568insA
8   1234567   G   GAC  g.1234567_1234568insAC
9   1235237   T  None               g.UNKNOWN
10       10  AC     A                 g.11del
11       10  AC   ATG        g.10_11delinsATG

In [7]:
import inspect
from varseek.varseek_build import build  # Import the function

# Get function signature
signature = inspect.signature(build)

# Retrieve the default value for 'k'
k_default = signature.parameters["w"].default

print(f"Default value of k: {k_default}")

Default value of k: 54

In [19]:
import pandas as pd

# Create a toy DataFrame
data = {"semicolon_count": [0, 0, 1, 2, 3]}
mutation_metadata_df = pd.DataFrame(data)

# Compute the sum as per your requirement
total_sum = (mutation_metadata_df.loc[mutation_metadata_df["semicolon_count"] > 0, "semicolon_count"] + 1).sum()

print("Toy DataFrame:")
print(mutation_metadata_df)
print("\nTotal Sum:", total_sum)

Toy DataFrame:
   semicolon_count
0                0
1                0
2                1
3                2
4                3

Total Sum: 9

In [9]:
for key in signature:
    print(f"Parameter: {key}")
    print(f"Default: {signature.parameters[key].default}")
    print(f"Type: {signature.parameters[key].annotation}")
    print(f"Description: {signature.parameters[key].annotation.__doc__}")
    print()
    print()

TypeError: 'Signature' object is not iterable

In [ ]:
explicit_parameters_vk_build = vk.utils.get_set_of_parameters_from_function_signature(vk.varseek_build.build)
allowable_kwargs_vk_build = vk.utils.get_set_of_allowable_kwargs(vk.varseek_build.build)
explicit_parameters_vk_build = explicit_parameters_vk_build.union(allowable_kwargs_vk_build)

In [5]:
if not isinstance(value, int) and not (isinstance(value, str) and value.isdigit()):
    print("Value is not an integer or a string that can be converted to an integer")

{1, 2, 3, 4, 5}

In [4]:
allowable_kwargs_vk_build

{'cosmic_email',
 'cosmic_grch',
 'cosmic_password',
 'cosmic_release',
 'insertion_size_limit',
 'merge_identical',
 'min_seq_len',
 'optimize_flanking_regions',
 'remove_seqs_with_wt_kmers',
 'replace_original_headers',
 'required_insertion_overlap_length',
 'save_files',
 'vcrs_strandedness'}

In [3]:
explicit_parameters_vk_build

{'dry_run',
 'filtering_report_text_out',
 'gtf',
 'gtf_transcript_id_column',
 'id_to_header_csv_out',
 'k',
 'max_ambiguous',
 'mcrs_fasta_out',
 'mcrs_t2g_out',
 'mut_column',
 'mut_id_column',
 'mutations',
 'mutations_updated_csv_out',
 'out',
 'overwrite',
 'reference_out_dir',
 'removed_variants_text_out',
 'return_mutation_output',
 'save_filtering_report_text',
 'save_mutations_updated_csv',
 'save_removed_variants_text',
 'save_wt_mcrs_fasta_and_t2g',
 'seq_id_column',
 'sequences',
 'store_full_sequences',
 'translate',
 'translate_end',
 'translate_start',
 'verbose',
 'w',
 'wt_mcrs_fasta_out',
 'wt_mcrs_t2g_out'}